.autocomplete{
    max-width: 50vw;
}

.sub-nav{
    background: none;
    border-bottom: 2px #3949ab solid;
    .nav-wrapper{
        .tabs{
            
        }
    }
}
.tab{
        color: black !important;
}